{% extends 'base.html.twig' %}

{% block body %}
<div class="row text-center align-bottom icon-container">
    <div class="column show-for-large large-2"></div>
    <div class="column large-1"><img style="width: 30%" src="/saint_nazaire/img/placeholder.png" alt="" id="cursor-1" class="cursor"></div>
    <div class="column large-1"><img style="width: 30%" src="/saint_nazaire/img/placeholder.png" alt="" id="cursor-2" class="cursor"></div>
    <div class="column large-1"><img style="width: 30%" src="/saint_nazaire/img/placeholder.png" alt="" id="cursor-3" class="cursor"></div>
    <div class="column large-1"><img style="width: 30%" src="/saint_nazaire/img/placeholder.png" alt="" id="cursor-4" class="cursor"></div>
    <div class="column large-1"><img style="width: 30%" src="/saint_nazaire/img/placeholder.png" alt="" id="cursor-5" class="cursor"></div>
    <div class="column large-1"><img style="width: 30%" src="/saint_nazaire/img/placeholder.png" alt="" id="cursor-6" class="cursor"></div>
    <div class="column large-1"><img style="width: 30%" src="/saint_nazaire/img/placeholder.png" alt="" id="cursor-7" class="cursor"></div>
    <div class="column large-1"><img style="width: 30%" src="/saint_nazaire/img/placeholder.png" alt="" id="cursor-8" class="cursor"></div>
    <div class="column show-for-large large-2"></div>
</div>
<div class="row column expanded">

    <div class="column small-12 text-center" id="page-0"></div>

    <div class="row expanded hidden-page" id="page-1">
        <div class="row expanded">
            <div class="column small-12 large-6">
                <h4>Foyers logements</h4>
                <p>
                    Les travaux sur la résidence autonomie “Les Jardins” sont prévus pour mi-mars 2017.
                    Le fin des rénovations des deux résidences “Les Jardins” et “Louise-Michel”
                    est quant à elle prévue pour fin mars 2019, pour un coût total respectif de 8.3
                    milliards d’euros et 7.1 milliards d’euros hors taxes.
                </p>
            </div>
            <div class="column small-12 large-6">
                <div class="row expanded">
                    <div class="small-8 columns">
                        <div class="slider" data-slider data-initial-start="50">
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="estim-1">

                            </span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="column small-4 estim-column">
                        <div class="input-group estim-group">
                            <input type="number" id="estim-1" class="input-group-field">
                            <span class="input-group-label">M€</span>
                        </div>
                    </div>
                </div>
                <div class="row column expanded">
                    <a href="#" class="button secondary nextproject">Suivant</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row expanded hidden-page" id="page-2">
        <div class="row expanded">
            <div class="column small-12 large-6">
                <h4>Foyers logements</h4>
                <p>
                    Les travaux sur la résidence autonomie “Les Jardins” sont prévus pour mi-mars 2017.
                    Le fin des rénovations des deux résidences “Les Jardins” et “Louise-Michel”
                    est quant à elle prévue pour fin mars 2019, pour un coût total respectif de 8.3
                    milliards d’euros et 7.1 milliards d’euros hors taxes.
                </p>
            </div>
            <div class="column small-12 large-6">
                <div class="row expanded">
                    <div class="small-8 columns">
                        <div class="slider" data-slider data-initial-start="50">
                            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="estim-2"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="column small-4 estim-column">
                        <div class="input-group estim-group">
                            <input type="number" id="estim-2" class="input-group-field">
                            <span class="input-group-label">M€</span>
                        </div>
                    </div>
                </div>
                <div class="row column expanded">
                    <a href="#" class="button secondary nextproject">Suivant</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row expanded hidden-page" id="page-3">
        <div class="row expanded">
            <div class="column small-12 large-6">
                <h4>Foyers logements</h4>
                <p>
                    Les travaux sur la résidence autonomie “Les Jardins” sont prévus pour mi-mars 2017.
                    Le fin des rénovations des deux résidences “Les Jardins” et “Louise-Michel”
                    est quant à elle prévue pour fin mars 2019, pour un coût total respectif de 8.3
                    milliards d’euros et 7.1 milliards d’euros hors taxes.
                </p>
            </div>
            <div class="column small-12 large-6">
                <div class="row expanded">
                    <div class="small-8 columns">
                        <div class="slider" data-slider data-initial-start="50">
                            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="estim-3"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="column small-4 estim-column">
                        <div class="input-group estim-group">
                            <input type="number" id="estim-3" class="input-group-field">
                            <span class="input-group-label">M€</span>
                        </div>
                    </div>
                </div>
                <div class="row column expanded">
                    <a href="#" class="button secondary nextproject">Suivant</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row expanded hidden-page" id="page-4">
        <div class="row expanded">
            <div class="column small-12 large-6">
                <h4>Foyers logements</h4>
                <p>
                    Les travaux sur la résidence autonomie “Les Jardins” sont prévus pour mi-mars 2017.
                    Le fin des rénovations des deux résidences “Les Jardins” et “Louise-Michel”
                    est quant à elle prévue pour fin mars 2019, pour un coût total respectif de 8.3
                    milliards d’euros et 7.1 milliards d’euros hors taxes.
                </p>
            </div>
            <div class="column small-12 large-6">
                <div class="row expanded">
                    <div class="small-8 columns">
                        <div class="slider" data-slider data-initial-start="50">
                            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="estim-4"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="column small-4 estim-column">
                        <div class="input-group estim-group">
                            <input type="number" id="estim-4" class="input-group-field">
                            <span class="input-group-label">M€</span>
                        </div>
                    </div>
                </div>
                <div class="row column expanded">
                    <a href="#" class="button secondary nextproject">Suivant</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row expanded hidden-page" id="page-5">
        <div class="row expanded">
            <div class="column small-12 large-6">
                <h4>Foyers logements</h4>
                <p>
                    Les travaux sur la résidence autonomie “Les Jardins” sont prévus pour mi-mars 2017.
                    Le fin des rénovations des deux résidences “Les Jardins” et “Louise-Michel”
                    est quant à elle prévue pour fin mars 2019, pour un coût total respectif de 8.3
                    milliards d’euros et 7.1 milliards d’euros hors taxes.
                </p>
            </div>
            <div class="column small-12 large-6">
                <div class="row expanded">
                    <div class="small-8 columns">
                        <div class="slider" data-slider data-initial-start="50">
                            <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="estim-5"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="column small-4 estim-column">
                        <div class="input-group estim-group">
                            <input type="number" id="estim-5" class="input-group-field">
                            <span class="input-group-label">M€</span>
                        </div>
                    </div>
                </div>
                <div class="row column expanded">
                    <a href="#" class="button secondary nextproject">Suivant</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
    <script>
        $.fn.extend({
            animateCss: function (animationName, callback) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                this.addClass('animated ' + animationName).one(animationEnd, function() {
                    $(this).removeClass('animated ' + animationName);
                    if (callback != undefined){
                        callback();
                    }
                });
            }
        });

        function clickNextProject(){
            if(cursor < 5){
                $("#page-0").animateCss("fadeOut", function(){
                    $("#cursor-"+cursor).css("width", "30%");
                    cursor++;
                    $("#page-0").html($("#page-"+cursor).html());
                    $("#page-0").animateCss("fadeIn");
                    $("#cursor-"+cursor).css("width", "60%");
                    $("#page-0 .nextproject").click(clickNextProject);
                    $(document).foundation();
                });
            }
        }

        var cursor = 1;

        $("#page-0").html($("#page-"+cursor).html());
        $(document).foundation();

        $("#cursor-"+cursor).css("width", "60%");

        $("#page-0 .nextproject").click(clickNextProject);

    </script>
{% endblock %}
