{% extends 'base.html.twig' %}

{% block style %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/saint_nazaire/css/quiz.css" />
{% endblock %}

{% block body %}
    <div class="row expanded partie-haute">
        <div class="column small-12 text-center">
            <img src="" alt="" id="vignette">
        </div>
    </div>
    <div class="row expanded partie-basse">
        <div class="column small-12 text-center">
            <div class="row expanded">
                <div class="column small-12 text-center">
                    <h3 id="titre-projet"></h3>
                </div>
            </div>
            <div class="row expanded align-center">
                <div class="column small-12 medium-8 large-4 text-center">
                    <p id="contenu-projet"></p>
                </div>
            </div>
            <div class="row expanded" id="question-1">
                <div class="column small-12">
                    <div class="row expanded align-center">
                        <div class="column small-12 medium-8 large-4 text-center">
                            <div class="slider" data-slider data-initial-start="50" data-end="200">
                                <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" id="slider-handle"></span>
                                <span class="slider-fill" data-slider-fill></span>
                                <input type="hidden">
                            </div>
                        </div>
                    </div>
                    <div class="row expanded align-center">
                        <div class="column small12 medium-8 large-4 text-center">
                            <a href="#" class="button hollow secondary large" id="estimer-1">Estimer</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row expanded align-center" id="result-1" style="display: none;">
                <div class="column small-12 medium-8 large-4 text-center">
                    <p>Votre estimation : <span id="res-estimation"></span>€</p>
                    <p>Moyenne des estimations : <span id="res-moyenne"></span>€</p>
                    <p>Coût réel : <span id="res-reel">YOLO</span>€</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $.fn.extend({
            animateCss: function (animationName, callback) {
                var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
                this.addClass('animated ' + animationName).one(animationEnd, function() {
                    $(this).removeClass('animated ' + animationName);
                    if (callback != undefined){
                        callback();
                    }
                });
            }
        });

        var numberProjects = 7;

        var imgsrc = [
            "/saint_nazaire/svg/picto/picto-01.svg",
            "/saint_nazaire/svg/picto/picto-02.svg",
            "/saint_nazaire/svg/picto/picto-03.svg",
            "/saint_nazaire/svg/picto/picto-04.svg",
            "/saint_nazaire/svg/picto/picto-05.svg",
            "/saint_nazaire/svg/picto/picto-06.svg",
            "/saint_nazaire/svg/picto/picto-07.svg"
        ];

        var titres = [
            "Ville numérique",
            "Archives Municipales",
            "Salle multi-évenement",
            "Aquaparc",
            "Front de mer",
            "Foyer de Logement",
            "Bain Douche"
        ];

        var textes = [
            "De nouveaux services seront proposés en ligne par la ville, afin de diffuser la culture digitale et faciliter au quotidien les démarches des habitants. ",
            "Ce projet concerne la rénovation d’un magasin d’archives qui est un lieu de stockage réservé aux agents du service. L’enjeu est de permettre à la ville d’assurer la conservation de son patrimoine écrit.",
            "La salle multi événements ouvrira ses portes fin 2017, dans l’Alvéole 12 de la base sous-marine. Elle mettra à disposition des usagers des équipements adaptés à la grandeur de l’événement.",
            "Ce centre aquatique sera implanté sur le site de la Plaine des sports qui jouxte le parc Léo Lagrange. En complément des équipements déjà existants dans l’agglomération, ce complexe offrira des bassins couverts, un espace bien-être, un solarium et des annexes.",
            "Un réaménagement du front de mer est prévu pour l’été 2017: plantations et mobilier seront introduits (bancs, corbeilles, appuis-vélos, distributeurs de sacs canins). ",
            "Des travaux sont prévus sur la résidence autonome “Les Jardins” pour mi-mars 2017. La rénovation de cette dernière, ainsi que celle d’une autre résidence, “Louise-Michel”, devraient se terminer en mars 2019.",
            "Afin de remettre en état la couverture et l’étanchéité du bâtiment, des travaux sont envisagés aux Bains-Douches de Méan-Penhoët. "
        ];

        function switchToProject(id){
            if (id < numberProjects){
                $("#vignette").attr("src", imgsrc[id]);
                $("#titre-projet").text(titres[id]);
                $("#contenu-projet").text(textes[id]);
            }
        }

        $(".slider").on('moved.zf.slider', function(){
            $("#slider-handle").text($(".slider input").val());
        });

        switchToProject(0);

        $("#estimer-1").click(function(){
            $("#question-1").toggle();
            var estimation = $(".slider input").val();
            $("#res-estimation").text(estimation);
            $("#res-moyenne").text("LAMBDA");
            $("#result-1").toggle();
        });


    </script>
{% endblock %}
