body {
	background-color: #36b2e8;
}

section h1 {
	color: white;
}

section .bubble {
	width: 140px;
	height: 133px;
	background-image: url("../svg/bubble.svg"); 
	background-size: cover;
	padding: 0px 12px 12px 12px;
}

section .bubble input {
}