/************************************************
*	CSS sheet for the html page "impots.html"
*************************************************/


/* main container, general rules */
body {
	background-color: #0e97e7;
	font-family: 'Roboto', sans-serif;
	font-weight:300;

}

/* div that contains the title */
section .title {
	margin-bottom: 1.66%;
	margin-top: 5%;
}


/* title of every section */
section .title h3 {
	color: white;
	text-transform: uppercase;
	margin: 0;
}

/* width of every character 
 *  if you don't reduce it takes all the column and it's needed to scroll to access the next button
*/
section img.character {
	width: 70%;
}

/* Button to access next section/bubble */
section .nextButton {
	margin-top: 5%;
}


/* ------------------------------  INPUT BUBBLES  ------------------------------ */

/* radio buttons for bubbles */
section input[type="radio"] {
	margin: 0;
}

/* number text input for bubbles */
section input[type="number"] {
	width: 90%;
	margin: 0;
	font-size:28px;
}

section span {
	font-size: 1.5em;
}

section span.empty {
	margin: 0% 5%;
}

section div.bubbleResidence p, section div.bubbleTaxesCost p {
	margin:0;
}

section .bubbleAge {
	background-image: url("../svg/bubble_0.svg"); 
	background-size: cover;
	padding: 1% 1% 6.5% 1%;
	margin-top: 8%;
}

section .bubbleResidence {
	background-image: url("../svg/bubble_0.svg"); 
	background-size: cover;
	padding: 2% 0% 2.5% 5%;
	margin-top: 8%;
}

section .bubbleTaxesCost {
	background-image: url("../svg/bubble_0.svg"); 
	background-size: cover;
	padding: 2% 2% 30% 2%;
	margin-top: 8%;
}

section .bubbleProjectsPart {
	background-image: url("../svg/bubble_0.svg"); 
	background-size: cover;
	padding: 10% 0% 4% 0%;
}