@font-face {
font-family: 'avenir';
font-style: normal;
font-weight: normal;
src: local('Avenir LT Std 65 Medium'), url('../fonts/AvenirLTStd-Medium.woff') format('woff');
}


body {
	background-color: #36b2e8;
}

section .title {
	margin-top: 20px;
	margin-bottom: 20px;
}


section .title h3 {
	color: white;
	font-family: avenir;
	text-transform: uppercase;
}


section .character {
	width: 70%;
}


section .bubbleAge {
	background-image: url("../svg/bubble00.svg"); 
	background-size: cover;
	padding: 1% 1% 3% 1%;
	margin-top: 8%;
}

section .bubbleAge input {
	width: 90%;
	margin: 0;
}

section .bubbleResidence {
	background-image: url("../svg/bubble00.svg"); 
	background-size: cover;
	padding: 1% 2% 2.2% 1%;
	margin-top: 8%;
}

section .bubbleResidence input {
	margin: 0;
}