#vignette{
	margin-top: 5vh;
	margin-bottom: 3vh;
	height: 30vh;
}

.partie-haute{
	background-color: white;
}

body{
	background-color: #0E97E7;
}

.partie-basse{
	padding-top: 2vh;
	height: 62vh;
	width: 100vw;
	background-color: #0E97E7;
}

.titre-projet{
	margin-bottom: 30px;
	color: white;
}

.estimation{
	font-family: 'Roboto', sans-serif;
	color: white;
	font-weight: 700;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

.contenu-projet{
	padding: 20px;
	background-color: ghostwhite;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
}

.slider-fill {
	height: 20px;
	border-radius: 10px;
	background-color: #17D8C9;
}

.slider{
	height: 20px;
	border-radius: 10px;
	background-color: ghostwhite;
}

.slider-handle{
	background: url("/saint_nazaire/svg/hand.svg") no-repeat center 50px;
	font-family: 'Roboto', sans-serif;
}

.slider-handle:hover{
	background-color: transparent;
}